@model List<JoinItem>
@{
}

<div class="iq-sidebar  sidebar-default ">
	<div id="sidebar-scrollbar">
		<nav class="iq-sidebar-menu">
			<ul id="iq-sidebar-toggle" class="iq-menu">
				<li class="active">
					<a href="/Home/Index" class=" ">
						<i class="las la-newspaper"></i><span>Newsfeed</span>
					</a>
				</li>
				<li class="">
					<a href="#pages" class="  collapsed" data-bs-toggle="collapse"
					   aria-expanded="false">
						<i class="ri-pages-line"></i><span>Subredises</span><i class="ri-arrow-right-s-line iq-arrow-right"></i>
					</a>
					<ul id="pages" class="iq-submenu collapse" data-bs-parent="#iq-sidebar-toggle">
						@foreach(var item in Model)
						{
							<li class="">
								<a href="/Subredis/Index/@item.SubredisId" class=" btnSubredis">
									<i class="las la-users"></i><span>@item.SubredisName</span>
								</a>
							</li>
						}
					</ul>
				</li>
			</ul>
		</nav>
		<div class="p-5"></div>
	</div>
</div>
